<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KKImageConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <userSettings>
    <KKImageConverter.Properties.Settings>
      <setting name="OutputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedOutputFormatIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedDDSCompressionSpeedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsingDarkTheme" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColorCorrectionEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedColorCorrectionWorkflowIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResizeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedTextureFilterIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedResizeOptionIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedResizePowerOfTwoOptionIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ResizeExactWidth" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="ResizeExactHeight" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="RenameEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Prefix" serializeAs="String">
        <value />
      </setting>
      <setting name="Suffix" serializeAs="String">
        <value />
      </setting>
    </KKImageConverter.Properties.Settings>
  </userSettings>
</configuration>
