name: CI

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
      - run: dotnet build HSPlugins.sln --configuration Release
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}_${{ github.sha }}
          path: bin/build/**/*.dll
